 @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;900&family=Poppins:wght@100;200;300;400;500;600;700&display=swap');


*, html{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}

.container{
    background-color: blue;
    height: 10vh;
}

.container header{
    margin-left:25px;
    color: white;
    font-size: 14px;
    letter-spacing: 1px;
    padding: 5px 0;
}

.kotak{
    height:87vh;
    background-color: #F3F3F3;
    display: flex;
    gap: 10px;

}

.kiri{
    display: flex;
    flex-direction: column;
}

.kiri button, select{
    margin: 0.5em 10px 0.5em 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 13px;
    font-weight: bold;
    color: white;
    background-color: rgb(0, 170, 255);
    outline: none;
    border: none;
}

.satu{
    display: flex;
    justify-content: center;
    position: relative; 

}

.satu span{
    position: absolute;
    right: 0;
}

.dua{
    position: relative;
    display: flex;
    justify-content: center;
    gap: 1em;
}

.belanja{
    margin-left: 5px;
    padding: 20px;
    height: 60vh;
    border: 1px solid black;
    width: 390px;
    overflow-y: scroll;
}

.jajan{
    padding: 1em 1em 0 1em;
    color: black;
    font-size: 12px;
    background-color: white;
    margin: 6px;
}

.pay{
    font-size: 18px;
    background-color: rgb(0, 170, 255);
    padding: 5px;
    color: white !important;
}

.kanan{
    width: 100%;  
    margin-right: 5px;
}

.payment{
    background-color: rgb(0, 170, 255);
    margin-top: 5px;
    text-align: center;
    cursor: pointer;
    width: 30%;
    float: right;
}

.kanan nav{
    margin: 5px 0;
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
    background-color: white;
    align-items: center;
}

.kanan nav .nav_kanan span{
    font-size: 27px;
}

.kanan section{
    border: 1px solid black;
    height: 68vh;
    overflow-y: scroll;
}

.kanan section .isi .foto img{
    width: 80%;
    margin: 5px;
    height: 13vh;
}

.kanan section .isi{
    margin: 5px;
    border: 1px solid black;
    width: 100px;
    text-align: center;
    float: left;
    cursor: pointer;
}

.kanan section .isi p{
    font-size: 12px;
}

.kanan section .isi h1{
    font-size: 15px;
}

.container footer{
    color: white;
}

.btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.material-symbols-outlined {
    cursor: pointer;
}

.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px 5px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 10px; 
}
.card-text {
  width: 90%
}
    
.card-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.trash-icon {
    padding-top: 15px;
    padding-left: 7px;
    cursor: pointer;
}

.tax {
    text-align: right;
    width: 100%;
}

.status {
    padding: 2.5px 15px;
    background-color: blue;
    color: white;
}